<ion-modal-view>
    <ion-header-bar class="bar-dark">
        <h1 class="title">Info</h1>
        <div class="buttons">
            <button ng-click="closeAboutDialog()" class="button ion-close button-clear"></button>
        </div>
    </ion-header-bar>

    <ion-content has-bouncing="true">
        <div class="text-center padding-top">
            <img src="img/app-icon.png" width="60" height="60">
            <h3 class="stable">Grisu NÖ</h3>
        </div>

        <div class="list">
            <div class="item item-dark item-dark-modal-full">Version: 1.1.0</div>
            <div class="item item-dark item-dark-modal-full">© {{ date | date: 'yyyy' }} Alex Gassner</div>
            <a class="item item-dark item-dark-modal-full item-icon-right"
               ng-click="openBrowser('https://github.com/l-e-X/grisu-noe')">
                <i class="icon ion-ios7-arrow-right"></i>
                <h2 class="stable">Online</h2>
                <p>https://github.com/l-e-X/grisu-noe</p>
            </a>
            <a class="item item-dark item-dark-modal-full item-icon-right" href="mailto:alexander.gassner@feuerwehr.gv.at">
                <i class="icon ion-ios7-arrow-right"></i>
                <h2 class="stable">Kontakt / Fragen</h2>
                <p>alexander.gassner@feuerwehr.gv.at</p>
            </a>
            <a class="item item-dark item-dark-modal-full item-icon-right"
               ng-click="openBrowser('http://www.ff-wolfsgraben.at/')">
                <i class="icon ion-ios7-arrow-right"></i>
                <h2 class="stable">Unterstützt durch FF Wolfsgraben</h2>
                <p>http://www.ff-wolfsgraben.at/</p>
            </a>
        </div>

        <p class="padding-left padding-right">
            Die verwendeten Daten stammen dankenswerterweise von der Warn- und Alarmstufenliste NÖ (WASTL).
            Abgesehen davon steht die Applikation in keinerlei Zusammenhang mit WASTL.
        </p>

        <p class="padding-left padding-right padding-bottom">
            Keine Gewähr auf Richtigkeit und Vollständigkeit der Daten.
            Insbesondere die Positionsangaben der virtuellen Karten sind oft ungenau
            und auf keinen Fall für einen Einsatz zu verwenden.
        </p>
    </ion-content>
</ion-modal-view>
