<ion-view view-title="Aktuelle Einsätze">
    <ion-header-bar class="bar-dark bar-subheader item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-search placeholder-icon"></i>
            <input ng-model="search" ng-keyup="scrollTop()" type="search" placeholder="Suche">
        </label>
        <button ng-if="search.length" ng-click="clearSearch()" class="button button-stable ion-android-close button-clear"></button>
    </ion-header-bar>

    <ion-content>
        <ion-refresher on-refresh="doRefresh(false)" pulling-icon="ion-chevron-down" spinner="lines"></ion-refresher>

        <ion-list>
            <ion-item class="item-dark"
                      ng-repeat="district in districts | filter : search"
                      ui-sref="tabs.districts-incidents({id: district.k})">
                <h2>
                    <i ng-if="bazInfo['d_' + district.k]" class="ion-power online"></i>
                    <i ng-if="!bazInfo['d_' + district.k]" class="ion-power offline"></i>
                    {{district.t}}
                </h2>
                <div ng-if="district.e || district.f"
                     ng-class="{
                         'warn-none': district.z == 0,
                         'warn-low': district.z == 1,
                         'warn-medium': district.z == 2,
                         'warn-high': district.z == 3
                     }"
                     class="badge">
                    <span ng-if="district.f">FW: {{district.f}}</span>
                    <span ng-if="district.f && district.e">,&nbsp;</span>
                    <span ng-if="district.e">Einsätze: {{district.e}}</span>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>