<ion-view view-title="Einsatzhistorie">
    <ion-content has-bouncing="true">
        <div class="card" ng-if="historyData.length === 0">
            <div class="item item-text-wrap">Zurzeit sind keine vergangenen Einsätze vorhanden.</div>
        </div>

        <div class="card" ng-if="historyError">
            <div class="item item-text-wrap">
                Daten nicht verfügbar. Eventuell bist du noch nicht für erweiterte Einsatzdaten freigeschaltet.
                Siehe hierfür in den App-Einstellungen nach.
            </div>
        </div>

        <ion-list>
            <ion-item class="item-dark item-icon-right"
                      ng-repeat="incident in historyData"
                      href=""
                      ng-click="goToHistoryIncident(incident)">
                <h2>
                    <span ng-if="incident.Alarmstufe" class="incident-type {{incident.Alarmstufe}}">{{incident.Alarmstufe}}</span>
                    <span ng-if="incident.Meldebild != ''">{{incident.Meldebild}}</span>
                    <span ng-if="incident.Meldebild == ''" class="no-alarm-image">Kein Meldebild</span>
                </h2>
                <p>{{incident.Ort}} {{formatDate(incident.EinsatzErzeugt)}}</p>
                <i class="icon ion-star energized"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>