<ion-view>
    <ion-nav-buttons side="secondary">
        <button ng-click="doRefresh()" class="button icon button-white button-clear ion-loop"></button>
    </ion-nav-buttons>

    <ion-content has-bouncing="true">
        <ion-refresher on-refresh="doRefresh()" pulling-icon="ion-chevron-down" spinner="lines"></ion-refresher>

        <ion-list>
            <ion-item class="item-dark"
                      ng-repeat="incident in incidents"
                      href=""
                      ng-click="goToIncident(incident)"
                      ng-class="{ 'item-icon-right': isExtendedIncident(incident.n) }">
                <h2>
                    <span ng-if="incident.a" class="incident-type {{incident.a}}">{{incident.a}}</span>
                    <span ng-if="incident.m != ''">{{incident.m}}</span>
                    <span ng-if="incident.m == ''" class="no-alarm-image">Kein Meldebild</span>
                </h2>
                <p>
                    {{incident.o}}<span ng-if="incident.o != '' && incident.o2 != ''">,</span>
                    {{incident.o2}} {{incident.d}} {{incident.t}}
                </p>
                <i ng-if="isExtendedIncident(incident.n)" class="icon ion-star energized"></i>
            </ion-item>
        </ion-list>
        <div class="card" ng-show="incidents.length === 0">
            <div class="item item-text-wrap">
                <h2 ng-if="!bazOnline">
                    <i class="ion-power offline"></i>
                    Alarmzentrale offline!
                </h2>
                <p>Zurzeit sind keine Einsätze vorhanden.</p>
            </div>
        </div>
    </ion-content>
</ion-view>