<ion-view>
    <ion-nav-buttons side="right">
        <button ng-click="doRefresh()" ng-class="{'ion-looping': isRefreshing}" class="button icon button-white button-clear ion-loop"></button>
    </ion-nav-buttons>

    <ion-content has-bouncing="true">
        <ion-refresher on-refresh="doRefresh()">
        </ion-refresher>
        <ion-list>
            <ion-item class="item-dark" ng-repeat="incident in incidents" href="" ng-click="goToIncident(incident.i)">
                <h2>
                    <span ng-if="incident.a" class="incident-type {{incident.a}}">{{incident.a}}</span>
                    <span ng-if="incident.m != ''">{{incident.m}}</span>
                    <span ng-if="incident.m == ''" class="no-alarm-image">Kein Meldebild</span>
                </h2>
                <p>{{incident.o}}, {{incident.o2}} {{incident.d}} {{incident.t}}</p>
            </ion-item>
        </ion-list>
        <div class="card" ng-show="incidents.length === 0">
            <div class="item item-text-wrap">Zurzeit sind keine Einsätze vorhanden.</div>
        </div>
    </ion-content>
</ion-view>