<ion-view view-title="{{ incident.n }}">
    <ion-nav-buttons side="secondary">
        <button ng-click="doRefresh()" class="button icon button-white button-clear ion-loop"></button>
    </ion-nav-buttons>

    <ion-content has-bouncing="true" padding="true">
        <ion-refresher on-refresh="doRefresh()" pulling-icon="ion-chevron-down" spinner="lines"></ion-refresher>

        <div class="card incident" ng-if="incident">
            <div class="item item-divider">
                <h2>
                    <span ng-if="incident.a" class="incident-type {{incident.a}}">{{incident.a}}</span>
                    <span ng-if="incident.m != ''">{{incident.m}}</span>
                    <span ng-if="incident.m == ''" class="no-alarm-image">Kein Meldebild</span>
                </h2>
            </div>

            <div class="item item-text-wrap">
                <h3>
                    {{incident.o}}
                    <br ng-if="incident.o != ''">
                    {{incident.o2}}
                </h3>
                <p>{{incident.d}} {{incident.t}}</p>
                <p ng-if="bygone != null">
                    <span ng-if="bygone.hours != 0 || bygone.minutes != 0">Im Einsatz seit</span>
                    <ng-pluralize count="bygone.hours" when="{
                        '0': '',
                        'one': '1 Stunde',
                        'other': '{} Stunden'
                    }">
                    </ng-pluralize>
                    <span ng-if="bygone.hours != 0 && bygone.minutes != 0">und</span>
                    <ng-pluralize count="bygone.minutes" when="{
                        '0': '',
                        'one': '1 Minute',
                        'other': '{} Minuten'
                    }">
                    </ng-pluralize>
                </p>
            </div>

            <div class="item item-divider text-center" ng-if="isMapRefreshing">
                <i class="ion-looping"></i>
            </div>
            <a class="item item-divider item-icon-left"
               ng-if="isMapAvailable && !isMapRefreshing"
               ng-click="openMapDialog()">
                <i class="icon ion-map"></i>
                Einsatzort
            </a>
        </div>

        <ion-list class="list-small">
            <div ng-repeat="dispo in incident.Dispo">
                <ion-item class="item-dark item-accordion-header"
                          ng-click="toggleDispo(dispo)"
                          ng-class="{active: isDispoShown(dispo)}">
                    <i class="icon" ng-class="isDispoShown(dispo) ? 'ion-minus' : 'ion-plus'"></i>
                    &nbsp;
                    {{dispo.n}}
                </ion-item>
                <ion-item class="item-accordion" ng-show="isDispoShown(dispo) && dispo.dt != ''">
                    Disposition: {{dispo.dt}}
                </ion-item>
                <ion-item class="item-accordion" ng-show="isDispoShown(dispo) && dispo.at != ''">
                    Alarmierung:
                    <span ng-if="dispo.at == 'own'">Eigenalarmiert</span>
                    <span ng-if="dispo.at != 'own'">{{dispo.at}}</span>
                </ion-item>
                <ion-item class="item-accordion" ng-show="isDispoShown(dispo) && dispo.ot != ''">
                    Ausgerückt: {{dispo.ot}}
                </ion-item>
                <ion-item class="item-accordion" ng-show="isDispoShown(dispo) && dispo.it != ''">
                    Eingerückt: {{dispo.it}}
                </ion-item>
            </div>
        </ion-list>
    </ion-content>
</ion-view>