<ion-modal-view>
    <ion-header-bar class="bar-dark">
        <h1 class="title">Einsatzort</h1>
        <div class="buttons">
            <button ng-click="closeMapDialog()" class="button ion-close button-clear"></button>
        </div>
    </ion-header-bar>

    <ion-content class="map-view" scroll="false">
        <leaflet data-tap-disabled="true" class="map" layers="layers"></leaflet>
        <button ng-click="takeScreenshot()" class="button icon button-positive ion-camera screenshot-button">
            Screenshot
        </button>
    </ion-content>
</ion-modal-view>