<ion-modal-view>
    <ion-header-bar class="bar-dark">
        <h1 class="title">Nachrichten</h1>
        <div class="buttons">
            <button ng-click="closeInfoMessagesDialog()" class="button ion-close button-clear"></button>
        </div>
    </ion-header-bar>

    <ion-content has-bouncing="true">
        <p ng-if="infoMessages.length === 0" class="padding">Aktuell keine Nachrichten vorhanden</p>
        <ion-list>
            <ion-item class="item-dark item-dark-modal-full" ng-repeat="message in infoMessages">
                <h2 class="stable">{{message.Title}}</h2>
                <p>{{message.Text}}</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-modal-view>