<ion-modal-view>
    <ion-header-bar class="bar-dark">
        <h1 class="title">Nachrichten</h1>
        <div class="buttons">
            <button ng-click="closeInfoMessagesDialog()" class="button ion-close button-clear"></button>
        </div>
    </ion-header-bar>

    <ion-content has-bouncing="true">
        <div class="card" ng-if="messagesError">
            <div class="item item-text-wrap">
                Daten nicht verfügbar. Eventuell bist du noch nicht für erweiterte Einsatzdaten freigeschaltet.
                Siehe hierfür in den App-Einstellungen nach.
            </div>
        </div>

        <div class="card" ng-if="infoMessages.length === 0 && !messagesError">
            <div class="item item-text-wrap">
                Aktuell keine Nachrichten vorhanden
            </div>
        </div>

        <ion-list>
            <ion-item class="item-dark item-dark-modal-full" ng-repeat="message in infoMessages">
                <h2 class="stable">{{message.Title}}</h2>
                <p>{{message.Text}}</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-modal-view>