<ion-modal-view>
    <ion-header-bar class="bar-dark">
        <h1 class="title">Einstellungen</h1>
        <div class="buttons">
            <button ng-click="closeSettingsDialog()" class="button ion-close button-clear"></button>
        </div>
    </ion-header-bar>

    <ion-content has-bouncing="true">
        <div class="list">
            <div>
                <label class="item item-dark item-input item-select item-dark-modal-full">
                    <div class="input-label">
                        Mein Bezirk
                    </div>
                    <select ng-model="settings.myDistrict"
                            ng-options="district.t for district in mainData.Bezirke track by district.k">
                    </select>
                </label>
            </div>
            <div class="item item-dark item-toggle item-dark-modal-full">
                Direkt in Bezirk springen
                <label class="toggle toggle-assertive">
                    <input type="checkbox" ng-model="settings.jumpToDistrict">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </div>
            <div class="item item-dark item-toggle item-dark-modal-full">
                Erweiterte Einsatzdaten
                <label class="toggle toggle-assertive">
                    <input type="checkbox"
                           ng-model="settings.showExtendedIncidentData"
                           ng-change="onExtendedIncidentDataChanged()">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </div>
        </div>

        <div class="card" ng-show="settings.showExtendedIncidentData">
            <div class="item item-text-wrap">
                <h2 ng-if="waitForToken" ng-click="copyTokenToClipboard()">Code: {{ token }}</h2>
                <h2 ng-if="!waitForToken">Erweiterte Einsatzdaten werden verwendet!</h2>
            </div>
        </div>
        <div ng-show="settings.showExtendedIncidentData" class="padding-left padding-right">
            <p ng-if="waitForToken">
                Falls du Mitglied einer Feuerwehr bist und deine Feuerwehr den WASTL-Infoscreen der FF Krems verwendet,
                kannst du mit Grisu NÖ erweiterte Einsatzdaten (genauer Einsatzort, Rückmeldefunktion, Bemerkungen,
                Historie etc.) der Einsätze deiner Feuerwehr anzeigen lassen. Dazu benötigst du lediglich eine
                Freischaltung des obenstehenden Codes. Am besten wendest du dich mit dem Code an deinen Kameraden, der
                für den WASTL-Infoscreen in deiner Feuerwehr zuständig ist. Nach erfolgter Freischaltung werden in
                Grisu NÖ erweiterte Einsatzdaten mit einem Stern gekennzeichnet.
            </p>
        </div>
    </ion-content>
</ion-modal-view>