<ion-view title="Statistiken">
    <ion-nav-buttons side="right">
        <button ng-click="doRefresh(false)"
                ng-class="{'ion-looping': isRefreshing}"
                class="button icon button-white button-clear ion-loop">
        </button>
    </ion-nav-buttons>

    <div class="tabs tabs-top tabs-icon-left">
        <a class="tab-item" ng-class="{'active': tabs[0].isActive}" ng-click="setTabActive(0)">
            <i class="icon ion-clock"></i> 6h
        </a>
        <a class="tab-item" ng-class="{'active': tabs[1].isActive}" ng-click="setTabActive(1)">
            <i class="icon ion-clock"></i> 12h
        </a>
        <a class="tab-item" ng-class="{'active': tabs[2].isActive}" ng-click="setTabActive(2)">
            <i class="icon ion-clock"></i> 24h
        </a>
    </div>

    <ion-content has-bouncing="true" class="has-subheader subheader-top-fix">
        <ion-refresher on-refresh="doRefresh(false)">
        </ion-refresher>

        <div class="subtab-content statistics-container"
             ng-show="tabs[0].isActive"
             on-swipe-left="setTabActive(1)">
            <canvas id="barchart1" class="chart-padding"></canvas>
            <canvas id="piechart1"></canvas>
            <div class="row" ng-repeat="historyEntry in mainData.h1.v">
                <div class="col col-80">
                    <span class="incident-type {{ historyEntry.a }}">{{ historyEntry.a }}</span>
                    <span ng-if="historyEntry.m == 'unspezifiziert'" class="no-alarm-image">Kein Meldebild</span>
                    <span ng-if="historyEntry.m != 'unspezifiziert'">{{ historyEntry.m }}</span>
                </div>
                <div class="col">{{ historyEntry.s }}</div>
            </div>
            <div class="row">
                <div class="col sum">Insgesamt {{ mainData.h1.s }} Einsätze</div>
            </div>
        </div>

        <div class="subtab-content statistics-container"
             ng-show="tabs[1].isActive"
             on-swipe-right="setTabActive(0)"
             on-swipe-left="setTabActive(2)">
            <canvas id="barchart2" class="chart-padding"></canvas>
            <canvas id="piechart2"></canvas>
            <div class="row" ng-repeat="historyEntry in mainData.h2.v">
                <div class="col col-80">
                    <span class="incident-type {{ historyEntry.a }}">{{ historyEntry.a }}</span>
                    <span ng-if="historyEntry.m == 'unspezifiziert'" class="no-alarm-image">Kein Meldebild</span>
                    <span ng-if="historyEntry.m != 'unspezifiziert'">{{ historyEntry.m }}</span>
                </div>
                <div class="col">{{ historyEntry.s }}</div>
            </div>
            <div class="row">
                <div class="col sum">Insgesamt {{ mainData.h2.s }} Einsätze</div>
            </div>
        </div>

        <div class="subtab-content statistics-container"
             ng-show="tabs[2].isActive"
             on-swipe-right="setTabActive(1)">
            <canvas id="barchart3" class="chart-padding"></canvas>
            <canvas id="piechart3"></canvas>
            <div class="row" ng-repeat="historyEntry in mainData.h3.v">
                <div class="col col-80">
                    <span class="incident-type {{ historyEntry.a }}">{{ historyEntry.a }}</span>
                    <span ng-if="historyEntry.m == 'unspezifiziert'" class="no-alarm-image">Kein Meldebild</span>
                    <span ng-if="historyEntry.m != 'unspezifiziert'">{{ historyEntry.m }}</span>
                </div>
                <div class="col">{{ historyEntry.s }}</div>
            </div>
            <div class="row">
                <div class="col sum">Insgesamt {{ mainData.h3.s }} Einsätze</div>
            </div>
        </div>
    </ion-content>
</ion-view>