<ion-tabs class="tabs-icon-top tabs-dark">
    <ion-tab title="Übersicht" icon="ion-map" href="#/tab/overview">
        <ion-nav-view name="overview-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Bezirke" icon="ion-clipboard" href="#/tab/districts">
        <ion-nav-view name="districts-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Statistik" icon="ion-stats-bars" ui-sref="tabs.statistics">
        <ion-nav-view name="statistics-tab"></ion-nav-view>
    </ion-tab>
</ion-tabs>