<ion-view view-title="Wasserentnahmestellen" cache-view="false">
	<ion-nav-buttons side="secondary">
		<button ng-click="openHelpDialog()" class="button icon button-white button-clear ion-ios-help-outline"></button>
	</ion-nav-buttons>

	<ion-content class="map-view" scroll="false">
		<leaflet data-tap-disabled="true" class="map" center="center" layers="layers"></leaflet>

		<button ng-click="takeScreenshot()" class="button icon button-positive ion-camera button-small screenshot-button">
			Screenshot
		</button>
	</ion-content>
</ion-view>