<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.wastlmobile654149" version="1.0.0"
        xmlns="http://www.w3.org/ns/widgets"
        xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>wastl-mobile</name>
  <description>
    WASTL Mobile: A modern app for firefighters in Lower Austria.
  </description>
  <author email="office@alex-gassner.at" href="https://github.com/l-e-X/wastl-mobile">
    l-e-X
  </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>