<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="at.lex.grisu.noe" version="2.0.0"
	xmlns="http://www.w3.org/ns/widgets"
	xmlns:cdv="http://cordova.apache.org/ns/1.0">
	<name>Grisu</name>
	<description>A modern mobile app for firefighters in Lower Austria.</description>
	<author email="alexander.gassner@feuerwehr.gv.at" href="https://github.com/Grisu-NOE/mobile-app">ajgassner</author>
	<content src="index.html"/>
	<access origin="*"/>
	<allow-navigation href="http://ionic.local/*"/>
	<allow-intent href="http://*/*"/>
	<allow-intent href="https://*/*"/>
	<allow-intent href="tel:*"/>
	<allow-intent href="sms:*"/>
	<allow-intent href="mailto:*"/>
	<allow-intent href="geo:*"/>
	<preference name="webviewbounce" value="false"/>
	<preference name="UIWebViewBounce" value="false"/>
	<preference name="DisallowOverscroll" value="true"/>
	<preference name="BackupWebStorage" value="none"/>
	<preference name="AutoHideSplashScreen" value="false" />
	<preference name="SplashShowOnlyFirstTime" value="false" />
	<preference name="ShowSplashScreenSpinner" value="false" />
	<preference name="FadeSplashScreenDuration" value="300" />
	<feature name="StatusBar">
		<param name="ios-package" value="CDVStatusBar" onload="true"/>
	</feature>
	<!-- standard icon and splashscreen -->
	<icon src="resources/android/drawable-xhdpi/ic_launcher.png" />
	<splash src="resources/android/drawable-xhdpi/splash-port.9.png" />
	<platform name="android">
		<allow-intent href="market:*"/>
		<preference name="android-minSdkVersion" value="19" />
		<splash src="resources/android/drawable-ldpi/splash-land.9.png" density="land-ldpi"/>
		<splash src="resources/android/drawable-mdpi/splash-land.9.png" density="land-mdpi"/>
		<splash src="resources/android/drawable-hdpi/splash-land.9.png" density="land-hdpi"/>
		<splash src="resources/android/drawable-xhdpi/splash-land.9.png" density="land-xhdpi"/>
		<splash src="resources/android/drawable-xhdpi/splash-land.9.png" density="land-xxhdpi"/>
		<splash src="resources/android/drawable-xhdpi/splash-land.9.png" density="land-xxxhdpi"/>
		<splash src="resources/android/drawable-ldpi/splash-port.9.png" density="port-ldpi"/>
		<splash src="resources/android/drawable-mdpi/splash-port.9.png" density="port-mdpi"/>
		<splash src="resources/android/drawable-hdpi/splash-port.9.png" density="port-hdpi"/>
		<splash src="resources/android/drawable-xhdpi/splash-port.9.png" density="port-xhdpi"/>
		<splash src="resources/android/drawable-xhdpi/splash-port.9.png" density="port-xxhdpi"/>
		<splash src="resources/android/drawable-xhdpi/splash-port.9.png" density="port-xxxhdpi"/>
		<icon src="resources/android/drawable-ldpi/ic_launcher.png" density="ldpi" />
		<icon src="resources/android/drawable-mdpi/ic_launcher.png" density="mdpi" />
		<icon src="resources/android/drawable-hdpi/ic_launcher.png" density="hdpi" />
		<icon src="resources/android/drawable-xhdpi/ic_launcher.png" density="xhdpi" />
		<icon src="resources/android/drawable-xxhdpi/ic_launcher.png" density="xxhdpi" />
		<icon src="resources/android/drawable-xxxhdpi/ic_launcher.png" density="xxxhdpi" />
	</platform>
	<platform name="ios">
		<allow-intent href="itms:*"/>
		<allow-intent href="itms-apps:*"/>
		<preference name="deployment-target" value="7.1" />
		<preference name="Orientation" value="all" />
		<splash src="resources/ios/splashes/splash_iphone_3_port.png" width="320" height="480"/>
		<splash src="resources/ios/splashes/splash_iphone_3_land.png" width="480" height="320"/>
		<splash src="resources/ios/splashes/splash_iphone_4_port.png" width="640" height="960"/>
		<splash src="resources/ios/splashes/splash_iphone_4_land.png" width="960" height="640"/>
		<splash src="resources/ios/splashes/splash_iphone_5_port.png" width="640" height="1136"/>
		<splash src="resources/ios/splashes/splash_iphone_5_land.png" width="1136" height="640"/>
		<splash src="resources/ios/splashes/splash_iphone_6_port.png" width="750" height="1334"/>
		<splash src="resources/ios/splashes/splash_iphone_6_land.png" width="1334" height="750"/>
		<splash src="resources/ios/splashes/splash_iphone_6plus_port.png" width="1242" height="2208"/>
		<splash src="resources/ios/splashes/splash_iphone_6plus_land.png" width="2208" height="1242"/>
		<splash src="resources/ios/splashes/splash_ipad_port.png" width="768" height="1024"/>
		<splash src="resources/ios/splashes/splash_ipad_land.png" width="1024" height="768"/>
		<splash src="resources/ios/splashes/splash_ipad_retina_port.png" width="1536" height="2048"/>
		<splash src="resources/ios/splashes/splash_ipad_retina_land.png" width="2048" height="10536"/>
		<!-- iOS 8.0+ -->
		<!-- iPhone 6 Plus  -->
		<icon src="resources/ios/icons/icon-60@3x.png" width="180" height="180" />
		<!-- iOS 7.0+ -->
		<!-- iPhone / iPod Touch  -->
		<icon src="resources/ios/icons/icon-60.png" width="60" height="60" />
		<icon src="resources/ios/icons/icon-60@2x.png" width="120" height="120" />
		<!-- iPad -->
		<icon src="resources/ios/icons/icon-76.png" width="76" height="76" />
		<icon src="resources/ios/icons/icon-76@2x.png" width="152" height="152" />
		<!-- iOS 6.1 -->
		<!-- Spotlight Icon -->
		<icon src="resources/ios/icons/icon-40.png" width="40" height="40" />
		<icon src="resources/ios/icons/icon-40@2x.png" width="80" height="80" />
		<icon src="resources/ios/icons/icon-40@3x.png" width="120" height="120" />
		<!-- iPhone / iPod Touch -->
		<icon src="resources/ios/icons/icon.png" width="57" height="57" />
		<icon src="resources/ios/icons/icon@2x.png" width="114" height="114" />
		<!-- iPad -->
		<icon src="resources/ios/icons/icon-72.png" width="72" height="72" />
		<icon src="resources/ios/icons/icon-72@2x.png" width="144" height="144" />
		<!-- iPhone Spotlight and Settings Icon -->
		<icon src="resources/ios/icons/icon-small.png" width="29" height="29" />
		<icon src="resources/ios/icons/icon-small@2x.png" width="58" height="58" />
		<icon src="resources/ios/icons/icon-small@3x.png" width="87" height="87" />
		<!-- iPad Spotlight and Settings Icon -->
		<icon src="resources/ios/icons/icon-small-50.png" width="50" height="50" />
		<icon src="resources/ios/icons/icon-small-50@2x.png" width="100" height="100" />
	</platform>
</widget>
